.wrapper {
    background: #fff;
    font-size: 18px;
    font-weight: 500;
    width: 1440px;
}

.phones_head {
    height: 370px;
    padding: 20px 165px 0px 165px;
}

.phones_smartphones {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1100px;
    min-height: 120px;
}

.phones_title {
    width: 550px;
    text-align: start;
    color: #828286;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.phones_models {
    display: flex;
    justify-content: flex-start;
    align-items: last baseline;
}

.phones_differences {
    text-align: start;
    color: #0d5adc;
    font-weight: 400;
    line-height: 60px;
}

.phones_data {
    display: block;
    background: #f4f9fc;
    padding: 0 165px 100px 165px;
}

.first_column {
    width: 255px;
    margin-right: 50px;
}

.second_column {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    gap: 20px;
}

/* @media (max-width: 1250px) {
    .wrapper {
        max-width: 1250px;
        font-size: 16px;
    }

    .display_products {
        width: 350px;
    }
}

@media (max-width: 1100px) {
    .wrapper {
        max-width: 1100px;
        font-size: 14px;
    }

    .phones_title,
    .display_products {
        width: 400px;
    }

    .phones_differences {
        min-width: 150px;
        font-size: 14px;
        margin-right: 20px;
    }
}

@media (max-width: 900px) {
    .wrapper {
        max-width: 900px;
        font-size: 12px;
    }

    .phones_head,
    .phones_data {
        padding-left: 100px;
        padding-right: 100px;
    }

    .phones_title,
    .display_products {
        width: 350px;
    }

    .phones_differences {
        font-size: 12px;
        margin-right: 10px;
    }
}

@media (max-width: 750px) {
    .wrapper {
        max-width: 750px;
        font-size: 12px;
    }

    .phones_title,
    .display_products {
        width: 250px;
    }

    .phones_title {
        font-size: 38px;
    }
    .phone_img_large {
        width: 42px;
        height: 84px;
    }
    .button_tick {
        margin-top: 10px;
        margin-left: 0px;
    }

    .chevron_small {
        width: 20px;
        height: 20px;
    }
    .num {
        font-size: 14px;
    }
}

@media (max-width: 580px) {
    .wrapper {
        max-width: 580px;
        font-size: 10px;
    }

    .phones_head,
    .phones_data {
        padding-left: 70px;
        padding-right: 70px;
    }

    .phones_title,
    .display_products {
        width: 200px;
    }

    .phones_title {
        font-size: 28px;
    }

    .phones_differences {
        min-width: 120px;
        font-size: 10px;
        margin-right: 10px;
    }

    .num {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .wrapper {
        max-width: 500px;
        font-size: 10px;
    }

    .phones_head,
    .phones_data {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 420px) {
    .wrapper {
        max-width: 420px;
        font-size: 8px;
    }

    .phones_title,
    .display_products {
        width: 150px;
    }

    .phones_differences {
        min-width: 100px;
        font-size: 8px;
        margin-right: 10px;
    }
} */
